IlluminatedCloud/
.idea

config/
manifest/
*.sublime-project
*.sublime-workspace
debug/
*.iml
#*.yml
force.json
#package.xml
build.properties
.vim-force.com/
\.vscode/

sfdx-project\.json

\.sfdx

\.forceCode

pmd-cache
pmd-issues.csv
src/resource-bundles
*.forceignore
src/lwc/jsconfig.json